<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmeoBXwSgl5ijfk-nkf4QQqDyzVUgvwr4</string>
	<key>GCM_SENDER_ID</key>
	<string>360837994664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Deborah.ProtoDeborahOgunniran</string>
	<key>PROJECT_ID</key>
	<string>countrydice-3bafa</string>
	<key>STORAGE_BUCKET</key>
	<string>countrydice-3bafa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360837994664:ios:f90688079b85ea5399ca9d</string>
</dict>
</plist>